<!--
title: Debian Upgrade
description: 
published: true
date: 2021-09-03T03:07:38.966Z
tags: upgrades, debian, upgrade
editor: ckeditor
dateCreated: 2021-08-25T14:12:41.264Z
-->

<h1>Debian Upgrade</h1>
<p>&nbsp;</p>
<h2>Debian 10 → 11</h2>
<p>&nbsp;</p>
<pre><code class="language-plaintext">sed -i 's/buster/bullseye/g' /etc/apt/sources.list
sed -i 's/buster/bullseye/g' /etc/apt/sources.list.d/*

echo "deb https://deb.debian.org/debian-security bullseye-security main contrib" &gt;&gt; /etc/apt/sources.list
echo "deb-src https://deb.debian.org/debian-security bullseye-security main contrib" &gt;&gt; /etc/apt/sources.list

sed -i 's/deb-src http:\/\/security.debian.org\/debian-security bullseye\/updates main//g' /etc/apt/sources.list
sed -i 's/deb http:\/\/security.debian.org\/debian-security bullseye\/updates main//g' /etc/apt/sources.list

apt update
apt full-upgrade -y</code></pre>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
