<!--
title: VMWare Boot
description: The boot process of VMWare
published: true
date: 2020-05-18T22:52:02.210Z
tags: 
-->

<h1>Boot Steps of VMWare</h1><p>&nbsp;</p><h2>ROM BIOS</h2><p>This steps includes providing the following steps to all steps down further. From bottom to top.</p><h3>Keyboard</h3><p>For user input.</p><h3>Monitor</h3><p>Initialize the basic video drivers.</p><h3>Drives</h3><p>Load drives.</p><h3>USB</h3><p>Load basic USB devices.</p><h3>Memory</h3><p>Initialize, count, and create access to RAM.</p><h3>CPU</h3><p>Initialize the CPU. &nbsp;</p><h2>POST</h2><p>Power On Self Test. Verify system is running as expected.</p><h2>CMOS</h2><p>&nbsp;</p><h2>Boot HD</h2><p>&nbsp;</p><h2>Hardware Config</h2><p>&nbsp;</p><h2>Load Drivers</h2>