<!--
title: VMWare SNMP
description: 
published: true
date: 2021-07-28T16:38:04.051Z
tags: vmware, snmp
editor: ckeditor
dateCreated: 2021-07-28T16:38:04.051Z
-->

<h2>1. SSH to host</h2>
<ul>
  <li>SSH should be enabled. If not, enable it.</li>
</ul>
<figure class="image"><img src="http://149.28.126.230/wp-content/uploads/2017/04/putty_2017-04-28_09-40-28.png" alt="" srcset="https://tylermade.net/wp-content/uploads/2017/04/putty_2017-04-28_09-40-28.png 661w, https://tylermade.net/wp-content/uploads/2017/04/putty_2017-04-28_09-40-28-300x190.png 300w" sizes="100vw" width="661"></figure>
<p>&nbsp;</p>
<h2>2. Set SNMP community string</h2>
<ul>
  <li>Enter the following command to set your string, replacing YOUR_COMM_STRING with your own.</li>
</ul>
<pre><code class="language-plaintext">esxcli system snmp set --communities &lt;community&gt;</code></pre>
<figure class="image"><img src="http://149.28.126.230/wp-content/uploads/2017/04/putty_2017-04-28_09-40-59.png" alt="" srcset="https://tylermade.net/wp-content/uploads/2017/04/putty_2017-04-28_09-40-59.png 661w, https://tylermade.net/wp-content/uploads/2017/04/putty_2017-04-28_09-40-59-300x190.png 300w" sizes="100vw" width="661"></figure>
<h2>3. Enable SNMP service</h2>
<ul>
  <li>Enter the following command to enable the SNMP service</li>
</ul>
<pre><code class="language-plaintext">esxcli system snmp set --enable true</code></pre>
<figure class="image"><img src="http://149.28.126.230/wp-content/uploads/2017/04/putty_2017-04-28_09-41-09.png" alt="" srcset="https://tylermade.net/wp-content/uploads/2017/04/putty_2017-04-28_09-41-09.png 661w, https://tylermade.net/wp-content/uploads/2017/04/putty_2017-04-28_09-41-09-300x190.png 300w" sizes="100vw" width="661"></figure>
<p>&nbsp;</p>
<h2>4. Adjust firewall</h2>
<ul>
  <li>Chances are that your ESXi firewall is already allowing this traffic, but just in case, allow connections from anywhere.</li>
</ul>
<p>&nbsp;</p>
<figure class="table" style="height:auto;width:750px;">
  <table style="background-color:rgb(25, 27, 28);border-bottom:none !important;border-left:none !important;border-right:none !important;border-top:none !important;">
    <tbody>
      <tr>
        <td style="background-color:rgb(33, 36, 37);border-bottom:0px;border-left:0px;border-right:0px;border-top:0px;padding:0px !important;">
          <p>1</p>
          <p>&nbsp;</p>
          <p>2</p>
          <p>&nbsp;</p>
        </td>
        <td style="border-bottom:0px;border-left:0px;border-right:0px;border-top:0px;padding:0px !important;width:730.797px;">
          <p>esxcli network firewall ruleset set --ruleset-id snmp --allowed-all true</p>
          <p>esxcli network firewall ruleset set --ruleset-id snmp --enabled true</p>
        </td>
      </tr>
    </tbody>
  </table>
</figure>
<ul>
  <li>This is very lenient but recommended for beginners or lab environments.</li>
  <li>A more secure approach would be to restrict access to a range of IPs or a particular host. In this case, we are only allowing <code>192.168.0.0-192.168.0.254</code> to poll SNMP.</li>
</ul>
<p>&nbsp;</p>
<pre><code class="language-plaintext">esxcli network firewall ruleset set --ruleset-id snmp --allowed-all false
esxcli network firewall ruleset allowedip add --ruleset-id snmp --ip-address 192.168.0.0/24
esxcli network firewall ruleset set --ruleset-id snmp --enabled true</code></pre>
<p>&nbsp;</p>
<h2>5. Restart SNMP service</h2>
<pre><code class="language-plaintext">/etc/init.d/snmpd restart</code></pre>
<p>It took a good 30-45 seconds for the service to restart on my host. Once this is done, you can confirm that the service is running via GUI:</p>
<figure class="image"><img src="http://149.28.126.230/wp-content/uploads/2017/04/VpxClient_2017-04-28_09-41-19.png" alt="" srcset="https://tylermade.net/wp-content/uploads/2017/04/VpxClient_2017-04-28_09-41-19.png 644w, https://tylermade.net/wp-content/uploads/2017/04/VpxClient_2017-04-28_09-41-19-281x300.png 281w" sizes="100vw" width="644"></figure>
<p>&nbsp;</p>
<h3>That’s it!</h3>
<ul>
  <li>Here’s a transcript of my shell session, for your reference:</li>
</ul>
<pre><code class="language-plaintext">esxcli system snmp set --communities &lt;community&gt;
esxcli system snmp set --enable true
esxcli network firewall ruleset set --ruleset-id snmp --allowed-all true
esxcli network firewall ruleset set --ruleset-id snmp --enabled true
/etc/init.d/snmpd restart</code></pre>
<figure class="image"><img src="http://149.28.126.230/wp-content/uploads/2017/04/putty_2017-04-28_09-42-14.png" alt="" srcset="https://tylermade.net/wp-content/uploads/2017/04/putty_2017-04-28_09-42-14.png 642w, https://tylermade.net/wp-content/uploads/2017/04/putty_2017-04-28_09-42-14-300x180.png 300w" sizes="100vw" width="642"></figure>
