<!--
title: Virtualization Types
description: Types of Virtualization
published: true
date: 2020-05-18T22:52:06.232Z
tags: 
-->

<h1>Virtualization Types</h1><p>&nbsp;</p><h2>Type 1</h2><p>Examples:</p><ul><li>VMWare</li></ul><p>&nbsp;</p><p>Benefits:</p><ul><li>Directly on host. No OS layer between it.</li><li>Less resource usage as no underlying OS.</li></ul><p>&nbsp;</p><h2>Type 2</h2><p>Examples:</p><ul><li>KVM</li><li>OpenVZ</li><li>HyperV</li></ul><p>&nbsp;</p><p>Drawbacks:</p><ul><li>More Resource Usage.</li></ul>